#sobre,
#Habilidades,
#portfolio,
#contato {
  padding: 10rem 0;

}

/* imagem hero*/
.bgimage {
    height: 100vh;
    position: relative;
    background: url("images/v627-aew-41-technologybackground.jpg");
    background-size: cover;
    
}


.heroTitle{
    font-size: 4.5rem;
}

.heroDesc {
    font-size: 2rem;
}

.heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*imagem sobre mim*/
.aboutImage {
    width: 100%;
    border-radius: 100px;

   box-shadow: 10px 6px 6px black;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
    padding: 0 2rem;
}

.servicesIcon {
    height: 36px;
    text-align: center;
    width: 100%;
    
}

.cardTitle {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 350px;
    height: 60px;
    position: relative;
   
}

.card:hover {
    box-shadow: 0 8px 50px #1d0743;
   }
   
   .card:hover .card-info {
    transform: translateY(-5%);
   }
   
   .card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
   }
   
   .card-social__item svg:hover {
    fill: #1d0743;
    transform: scale(1.1);
   }
   
   .card-avatar:hover {
    transform: scale(1.1);
   }

   .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
   }
   
   
.carde:hover .servicesIcon {
    color: #008900;
    
}
.servicesText:hover {
    border: #FF0084 1px solid;
}

/*estilização do cabeçalho*/ 

.navbar {
    background-color: #1d0743;
}

.navbar a {
    color: white;
    padding: 0.5rem;
}

.navbar a:hover {
    background-color: #27104e;
    color: white;
    border-radius: 4px;
}

.contactIcon {
    font-size: 2.5rem;
    color: #27104e;
}

/*footer*/
footer {
    background-color: #1d0743;
}

.footerIcon {
    font-size: 2rem;
    color: white;
}

.footerIcon:hover{
    color: #27104e;
}

.footerDev {
    background-color: #27104e;
}


/*efeito de glassMorphism*/
.glass{
position: absolute;
height: 40%;


top: 50%;
left: 50%;
transform: translate(-50%, -50%);

background: rgba(46, 17, 99, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.5px);
-webkit-backdrop-filter: blur(1.5px);
border: 1px solid rgba(46, 17, 99, 0.04);
}

